= form_for @task, :html => {:class => "bp"} do |f|
  = render "shared/form_error", { :instance => @task }

  .field
    = f.label :name
    = f.text_field :name, :autofocus => true

  .field
    = f.label :project_id
    - if Project.exists?
      = f.select :project_id, Project.recents_first.collect {|p| [ p.name, p.id ] }, { :include_blank => true }
      or
    = f.text_field :project_name

  .field
    = f.label :estimation
    = f.text_field :estimation
  
  - if @task.sessions.count > 1
    %h2 Sessions
  = f.fields_for :sessions do |session_form|
    = session_form.label :start
    = session_form.datetime_select :start, :discard_year => true, :discard_month => true
      
  %p#button= f.submit 'Save'