= form_for @task do |f|
  -if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, :autofocus => true
  - if Project.exists?
    .field
      = f.label :project_id
      = f.select :project_id, Project.recents_first.collect {|p| [ p.name, p.id ] }, { :include_blank => true }
  .field
    = f.label :project_name
    = f.text_field :project_name
  = f.fields_for :sessions do |session_form|
    .field  
      = session_form.label :start
      = session_form.datetime_select :start, :discard_year => true, :discard_month => true
      
  .actions
    = f.submit 'Create Task', :class => "button"
