= content_for :title, @task.name

%p
  - if @task.running?
    = interrupt_link @task
  - else
    = resume_link @task
  - if !@task.archived?
    = archive_link @task
  = link_to 'edit', edit_task_path(@task), :class => "action archive"
  = link_to 'destroy', @task, :confirm => 'Are you sure?', :method => :delete, :class => "action archive"

%p
  %b Status:
  = status_span @task
%p
  %b Project:
  = link_to @task.project.name, @task.project
%p
  %b Duration:
  = @task.duration_total
  hours
%p
  %b Estimation:
  = @task.estimation
  hours

- if @task.sessions.present?
  %h2 Sessions
  %ul
    - @task.sessions.each do |session|
      %li
        - if session.finish?
          = "From #{session.start.to_s(:short)} to #{session.finish.to_s(:short)}"
        - else
          = "Running since #{session.start.to_s(:short)}"
        %br
        = "Duration = #{session.duration} hours"