!!!
%html
  %head
    %title Timetracker2
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = csrf_meta_tag
  %body.bp.two-col
    #container
      #header
        %h1= yield :title
      #sidebar
        = link_to "New Task", new_task_path
        %p= link_to "All Tasks", tasks_path
        - if running_task = Task.running_task
          %h2 Running Task
          %p= link_to running_task.name, running_task
          %p (#{interrupt_link running_task})          
          %p= "Current Duration = #{running_task.duration_current} hours"
          %p= "Total Duration = #{running_task.duration_total} hours"
        - if @projects.present?
          %h2 Projects
          %ul
            - @projects.each do |project|
              %li= link_to project.name, project
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :class => name
        = yield
    = javascript_include_tag :defaults
